=my-workflow-2.json
{
  "name": "My workflow 2",
  "id": "IqKzaEh9pKYHd1xD",
  "active": false,
  "createdAt": "2025-05-24T09:07:07.819Z",
  "updatedAt": "2025-05-24T12:59:31.000Z",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1SjoK8-5-4r8fonJzmnWBA6HwJSXxnoxWnFNri4LYr5jXtD1SPXIJRq6oUiJmtcpZGz0FkB09",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9ba6454b-dbe8-46e8-93e7-3aac1d8e22f1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nqAsA2Kk9v0SUl9Q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1wEQe_kNXQ1JM2-vgIBoFY65K432D6gSu",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "7994d165-0bf3-495d-9fb5-e02878bd5da2",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nqAsA2Kk9v0SUl9Q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "09e1fe15-5219-47fe-b6dc-b6b93e5482ba",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Provide a percentage rating for the\nfollowing applicant for a the job of\nSenior Digital Marketing  where React,\nTypescript, SQL and REST API skills are\nrequired in addition to a bachelor\ndegree in Marketing or related\nfield.\nthis is the application resume in text form. answer only with the percentage. but don't mention the % symbol\nfor example 95. {{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        660,
        0
      ],
      "id": "7235339d-025a-4769-8be9-e5d3c17389fd",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Dk6N0AnpVt0VJr9U",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1R1YiYIKMTGyVR3_stvFDSmhuF-4v72MSXxkkjEEjlEA",
          "mode": "list",
          "cachedResultName": "HR Manager (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R1YiYIKMTGyVR3_stvFDSmhuF-4v72MSXxkkjEEjlEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 265497846,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R1YiYIKMTGyVR3_stvFDSmhuF-4v72MSXxkkjEEjlEA/edit#gid=265497846"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Resume": "={{ $('Google Drive').item.json.webViewLink.match(/\\/d\\/([^/]+)/)[1] }}",
            "Score": "={{ $json.message.content }}"
          },
          "matchingColumns": [
            "Resume"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1020,
        0
      ],
      "id": "c4586d24-d29a-4721-a491-3bd7d471ef96",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3dFJwyGSFLVWfpRW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}